/* Variables */
:root {
  --body-color: #f6f9fc;
  --button-color: rgb(30, 166, 114);
  --accent-color: #0a721b;
  --link-color: #ffffff;
  --font-color: #32325d;
  --body-font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  --radius: 6px;
  --form-width: 400px;
  --delay: 0.4s;
}

/* Base */
* {
  box-sizing: border-box;
}

body {
  font-family: var(--body-font-family);
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  background-color: var(--body-color);
  color: var(--font-color);
}

@keyframes fadeUpIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

/* Layout */
/* .sr-root {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 980px;
  padding: 48px;
} */

header {
  opacity: 0;
  transform: translateY(0.5rem);
  animation: fadeUpIn 0.6s calc(var(--delay) - 0.1s) ease forwards;
}

header p {
  color: #6772e5;
}

h1 {
  font-size: 40px;
}

button {
  background-color: #6772e5;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 0.15s ease;
}

button:focus,
button:hover {
  background-color: #737efa;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transform: translateY(-1px);
}

.card {
  --delay: 0.8s;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.125),
    0 8px 16px -8px rgba(0, 0, 0, 0.15), 0 -6px 16px -6px rgba(0, 0, 0, 0.02);
  opacity: 0;
  transform: translateY(1rem);
  will-change: transform;
  animation: fadeUpIn 0.6s var(--delay) ease forwards;
}

.card:nth-child(2) {
  animation-delay: calc(var(--delay) + 0.1s);
}
.card:nth-child(3) {
  animation-delay: calc(var(--delay) + 0.15s);
}
.card:nth-child(4) {
  animation-delay: calc(var(--delay) + 0.2s);
}
.card:nth-child(5) {
  animation-delay: calc(var(--delay) + 0.25s);
}
.card:nth-child(6) {
  animation-delay: calc(var(--delay) + 0.3s);
}
.card:nth-child(7) {
  animation-delay: calc(var(--delay) + 0.35s);
}
.card:nth-child(8) {
  animation-delay: calc(var(--delay) + 0.4s);
}
.card:nth-child(9) {
  animation-delay: calc(var(--delay) + 0.45s);
}
